{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h1>This is the heading</h1>
    <p>This is a description. This is a description. This is a description. This is a description. This is a description. This is a description. This is a description. This is a description. This is a description. This is a description. This is a description. This is a description. This is a description. This is a description. This is a description. This is a description. </p>
</div>

{% include 'testcase-table.html' %}

{% include 'footer.html' %}

{% endblock %}